body {
  background-color: black;
  font-family: $brand-font;
  font-size: 16px;
  color: #ffffff;
}
.main {
  display: flex;
  flex-basis: 100%;
  flex-flow: column;
  justify-content: space-between;

  @include tablet {
    height: 500px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
  }
}
.logo-container {
  height: 277px;
  display: flex;
  justify-content: center;
  margin-top: 127px;
  margin-left: 3px;
  align-items: center;

  @include tablet { 
    height: 90%;
    margin-left: 115px;
    margin-top: 50px;
  }
}
.logo {
  height: 226px;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  color: white;
  height: 32px;
}

.title-container select {
  background-color: white;
  width: 20%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.loadergif {
  width: 100%;
  text-align: center;
}



.copyright-section {
  color: #c2c2c2;
  text-align: center;

  position: absolute;
  bottom: 3%;
  left: 28%;
}
.copyright-section h2 {
  top: 83%;
  left: 20%;
}

.instanews{ 
  text-transform: uppercase;
}

.articleContents { 
  height: 250px;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 600px) {
//   .main {
//     height: 500px;
//     display: flex;
//     flex-basis: 100%;
//     flex-direction: row;
//   }

//   .logo-container {
//     height: 90%;
//     margin-left: 115px;
//     margin-top: 50px;
//   }

  .title-container {
    flex-direction: column;
    align-self: center;
    margin-left: -53px;
  }

  .title-container select {
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    height: 22px;
  }
  /* 
.section-list-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-self: flex-end;

}

.section-list-container select {
    border: solid white 2px;
    width: 100%; 
    margin-bottom: 25px;
} */
}
@media screen and (min-width: 1200px) {
  /* .main { 
    height: 
} */
}
