body {
  background-color: black;
  font-family: $brand-font;
  font-size: 16px;
  color: #ffffff;

  div.main {
    display: flex;
    flex-basis: 100%;
    flex-flow: column;
    height: 90vh;
    transition: all 1.5s;

    @include tablet {
      display: flex;
      flex-basis: 100%;
      flex-direction: row;
    }

    div.logoContainer {
      height: 277px;
      display: flex;
      justify-content: center;
      margin-top: 127px;
      margin-left: 3px;
      align-items: center;

      @include tablet {
        height: 90%;
        margin-left: 115px;
        margin-top: 50px;
      }

      @include desktop {
        height: 100%;
        margin-top: 0;
        margin-left: 50px;
      }

      img {
        height: 226px;

        @include tablet {
          height: 200px;
        }
      }
    }
    div.titleContainer {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include tablet {
        flex-direction: column;
        align-self: center;
        margin-top: 31px;
        // margin-bottom: 0px;
      }

      @include desktop {
        display: initial;
        margin-left: 100px;
        // margin-bottom: 20px;
        margin-top: 0px;
        margin-left: 100px;
        /* margin-bottom: 111px; */
        // margin-top: 218px;
      }

      p.title {
        text-align: center;
        color: #ffffff;
        height: 32px;
        @include desktop {
          display: inline;
          margin-left: -12px;
        }
      }
      select.sectionContainer {
        background-color: #ffffff;
        // width: 28%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-left: -19px;

        @include tablet {
          background-color: #ffffff;
          // width: 76%;
          display: flex;
          justify-content: center;
          height: 22px;
          margin-left: -12px;
        }
        @include desktop {
          margin-left: -13px;
          margin-top: 10px;
          // width: 23%;
        }
      }
    }
  }
  div.loaderGif {
    width: 100%;

    img {
      display: none;
      width: 50px;
      height: 50px;
    }
  }
  div.copyrightSection {
    color: #c2c2c2;
    text-align: center;
    margin-top: 20px;
    height: 45px;

    h2 {
      @include tablet {
        margin-left: auto;
        margin-right: auto;
      }

      @include desktop {
        margin-left: -78%;
      }
    }
    span {
      text-transform: uppercase;
    }
  }
  div.sectionArticleContainer {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    div.articleContents {
      height: 430px;
      background-size: cover;
      background-position: center;
      position: relative;

      @include tablet {
        flex-basis: 33.3%;
        height: 300px;
        @include desktop {
          flex-basis: 25%;
          height: 450px;
        }
      }

      p.articleTitle {
        position: absolute;
        line-height: 1.5;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        color: #ffffff;
        transition: all 2s;
        // height: 0px;
        display: none;
      }
      &:hover {
        p.articleTitle {
        display: block;
        // height: auto;
        }
      }
    }
  }
}
