$desktop-width: 1240px;
$tablet-width: 600px; 

@mixin tablet { 
    @media(min-width: $tablet-width ) {
        @content; 
    }
}

@mixin deskstop { 
    @media (min-width: $desktop-width) { 
        @content; 
}
} 

